.label-image {
  padding-top: 16px;
  display: block;
  margin: auto;
  width: 90%

}

#image-title {
  color: white;
  padding-top: 10px;
  text-align: center;
}

body {
  background: #F3F4F5;
  color: #878787;
  line-height: .875em;
  height: auto;
}

.label-group {
  margin-bottom: 40px;
}

.img-block {
  background-color: #3E5D85;
  height:100vh;
}

.label-block {
  padding: 32px;
  background-color: #C0D3EB;
  height:100vh;
}

.choice-selector {
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  color: white;
  background-color: #7D7F85;
  font-size: 14px;
}

.choice-label {

}

.btn-block {
  margin-top: 16px;
}

.label-row{
  margin-top: 18px;
}
