<!doctype html>
<html>
    <head>
        <title>{% block title %}Flask Basics{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div class="col-md-4 img-block">
          <img class=".center-block label-image" src="/static/img/{{imageName}}" />
        </div>
        <div class="col-md-8">
          <form action="{{ url_for('save') }}" method="POST">
            <input type = "hidden" name = "image_name" value = "{{imageName}}" />
            <input type = "hidden" name = "score" value = "{{class}}" />

            <div class="btn-group" role="group" aria-label="...">
              {% for category, choices in options.items() %}
              <div class="label-group">
                <h4><label class="category-header label label-primary">{{category}}</label></h4>
                <p>
                {% for choice in choices %}
                <span class="choice-label label label-default">{{choice}}</span>
                  <input type="radio" id="{{ category }}-{{ choice }}_button"
                  class="radio-selector" name="{{category}}-{{choice}}"
                  value="1">
                </span>
                {% endfor %}
              </p>
            </div>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Done</button>
          </form>
        </div>
    </body>
</html>
